<template>
  <div class="footer wrapper">
    <div class="bg-primary text-white pt-2 pb-2 text-center">
      <b-container> Thanh Duong - © {{ currentYear }} </b-container>
    </div>
  </div>
</template>

<script>
export default {
  name: "Footer",
  data() {
    return {
      currentYear: new Date().getFullYear()
    };
  }
};
</script>

<style lang="scss" scoped>
@import "../../../src/assets/css/footer.css";
</style>
