<template>
  <div class="header wrapper">
    <b-navbar toggleable="lg" type="dark" variant="primary" class="mb-4">
      <b-container>
        <b-navbar-brand to="/" class="mr-3 d-flex align-content-center order-0"
          >CO<v-icon
            name="brands/vuejs"
            class="my-auto"
            scale="1.25"
          />ID19</b-navbar-brand
        >
      </b-container>
    </b-navbar>
  </div>
</template>

<script>
export default {
  name: "Header"
};
</script>
