<template>
  <b-card-group>
    <b-card bg-variant="light" header="Confirmed" class="text-center">
      <b-card-text>
        <div class="mb-2 text-center">
          <h3 class="font-weight-bold">{{ confirmed }}</h3>
        </div>
        <div>Number of confirmed cases</div>
      </b-card-text>
    </b-card>
    <b-card
      bg-variant="success"
      text-variant="white"
      header="Recoveries"
      class="text-center"
    >
      <b-card-text>
        <div class="mb-2 text-center">
          <h3 class="font-weight-bold">{{ recovered }}</h3>
        </div>
        <div>
          Number of recoveries
        </div>
      </b-card-text>
    </b-card>
    <b-card
      bg-variant="danger"
      text-variant="white"
      header="Deaths"
      class="text-center"
    >
      <b-card-text>
        <div class="mb-2 text-center">
          <h3 class="font-weight-bold">{{ deaths }}</h3>
        </div>
        <div>
          Number of deaths
        </div></b-card-text
      >
    </b-card>
  </b-card-group>
</template>

<script>
export default {
  name: "Cards",
  data() {
    return {
      confirmed: 0,
      recovered: 0,
      deaths: 0
    };
  },
  props: ["covidData"],
  watch: {
    covidData: {
      handler: function() {
        this.confirmed = new Intl.NumberFormat().format(
          this.covidData.confirmed
        );
        this.recovered = new Intl.NumberFormat().format(
          this.covidData.recovered
        );
        this.deaths = new Intl.NumberFormat().format(this.covidData.deaths);
      },
      deep: true
    }
  }
};
</script>
