<template>
  <b-dropdown
    :text="currentCountry.name"
    :block="true"
    :no-flip="false"
    variant="primary"
    class="m-2"
    menu-class="w-100 countries-list overflow-auto"
  >
    <b-dropdown-form>
      <b-form-input
        v-model="search"
        autocomplete="off"
        placeholder="Search name.."
      ></b-form-input>
    </b-dropdown-form>
    <b-dropdown-divider></b-dropdown-divider>
    <b-dropdown-item
      @click="
        setCurrentCountry();
        updateData(null);
      "
      >Global</b-dropdown-item
    >
    <b-dropdown-divider></b-dropdown-divider>
    <b-dropdown-item
      v-for="(country, index) in filteredList"
      :key="index"
      @click="
        setCurrentCountry(country.Slug);
        updateData(country.Slug);
      "
    >
      {{ country.Country }}
    </b-dropdown-item>
  </b-dropdown>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
export default {
  name: "CountriesDropdown",
  data() {
    return {
      search: ""
    };
  },
  props: {
    currentCountry: Object
  },
  methods: {
    ...mapActions({
      setCurrentCountry: "setCurrentCountry",
      fetchCovidData: "fetchCovidData"
    }),
    updateData(slug) {
      this.fetchCovidData(slug);
    }
  },
  computed: {
    ...mapGetters(["countryList"]),
    filteredList() {
      return this.countryList.filter(country => {
        return country.Country.toLowerCase().includes(
          this.search.toLowerCase()
        );
      });
    }
  }
};
</script>

<style lang="scss" scoped>
@import "../../../src/assets/css/dropdown.css";
</style>
