<template>
  <div class="home">
    <b-container>
      <b-row class="mb-4">
        <b-col class="text-center">
          <h1>COVID-19 Tracker</h1>
        </b-col>
      </b-row>
    </b-container>
    <b-container
      v-if="this.covidData.confirmed !== undefined || !covidAvailableStats"
    >
      <b-row class="justify-content-md-center mb-4">
        <b-col col md="6">
          <countries-dropdown
            :currentCountry="currentCountry"
          ></countries-dropdown>
          <unavailable-alert v-if="!covidAvailableStats"></unavailable-alert>
        </b-col>
      </b-row>
      <b-row v-if="covidAvailableStats" class="mb-4">
        <b-col>
          <cards :covidData="covidData"></cards>
        </b-col>
      </b-row>
    </b-container>
    <b-container v-else>
      <spinner></spinner>
    </b-container>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";

import Cards from "@/components/Cards.vue";
import UnavailableAlert from "@/components/UnavailableAlert.vue";
import CountriesDropdown from "@/components/countries/Dropdown.vue";
import Spinner from "@/components/Spinner";

export default {
  name: "Home",
  components: {
    Cards,
    CountriesDropdown,
    UnavailableAlert,
    Spinner
  },
  methods: {
    ...mapActions({
      fetchCountries: "fetchCountries",
      fetchCovidData: "fetchCovidData"
    })
  },
  computed: {
    ...mapGetters(["currentCountry", "covidData", "covidAvailableStats"])
  },
  created() {
    this.fetchCountries();
    this.fetchCovidData();
  }
};
</script>
